/* Common Styles */
.heading {
  font-family: 'Times New Roman', Times, serif;
  font-size: 2.5rem;
  font-weight: bold;
  padding-top: 2px;
  color: #fdfdfe;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.sub-heading {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 2px;
  color: #5188E0;
  text-align: center;
}

/* Header */
.header {
  background-color: #240854;
  background-position: center;
  backface-visibility: hidden;
}

/* Sidebar */
.sidebar {
  background-color: rgba(145, 73, 1, 1);
  background-image: linear-gradient(60deg, rgba(145, 73, 1, 1) 29%, rgba(254, 195, 74, 1) 100%);
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  background-position: center;
  backface-visibility: hidden;
}

.ant-menu-item-selected {
  background-color: #C7E6FF;
  color: #790eb2;
}

.ant-layout-sider-children {
  background-color: #6798C0;
  font-size: 1.5rem;
  color: #8E561E;
  background-position: center;
  backface-visibility: hidden;
}

/* Layout */
.ant-layout {
  min-height: 100vh;
  background-color: #FFFDF7;
  background-image: url('../public/background-compressed.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.ant-layout-content {
  margin: 24px 16px 0;
}

/* Search Bar */
.search-bar-box {
  position: relative;
  width: 100%;
}

.search-bar-with-clear {
  display: flex;
  align-items: flex-start; /* Adjust the alignment to the top */
  width: 100%;
  padding: 0.5rem 0.75rem;
  border: 2px solid #5188e0;
  border-radius: 30px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: #f7f7f7;
}

.search-bar {
  flex-grow: 1;
  height: auto; /* Allow the input to adjust its height based on content */
  min-height: 36px; /* Set a minimum height to ensure the clear button always stays inside */
  font-size: 1rem;
  line-height: 1.42857;
  color: #333;
  background-color: transparent;
  border: none;
  outline: none;
}

/* Search Button */
.shloka-submit-button {
  flex-shrink: 0;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  background-color: #5188e0;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s, box-shadow 0.2s;
}

.shloka-submit-button:hover {
  background-color: #466fad;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Clear Button */
.shloka-clear-button {
  flex-shrink: 0;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px; /* Adjust the top position to align with the top of the search bar */
  right: 10px; /* Adjust the right position for the spacing from the right edge */
  border: none;
  border-radius: 50%;
  background-color: #e5e5e5;
  color: #333;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s, box-shadow 0.2s;
}

.shloka-clear-button:hover {
  background-color: #d1d1d1;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Video Modal */
.ant-modal-body {
  padding: 20px;
  text-align: center;
}

/* Card */
.ant-card {
  background-color: #FFFDF7;
  border-color: #FCC921;
  border-radius: 25px;
  box-shadow: 5px 5px 4px #C18335;
  margin: 0 auto;
  width: 80%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.ai-heading {
  font-size: 1.5rem;
  padding-top: 15px;
  color: #914901;
  text-align: center;
}

.footer-style {
  word-spacing: 2px;
}
